# django
DJANGO_SECRET=
ALLOWED_HOSTS=
DEBUG=
MEDIA_ROOT=
STATIC_ROOT=

# shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_API_VERSION=
SHOPIFY_API_SCOPE=
SHOP_URL=

# mysql
MYSQL_NAME=
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
