body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  color: #495057;
  background-color: #fff;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
